<p>form-array works!</p>

<form [formGroup]="contactForm" (submit)="onSubmit()">
    <div formArrayName="contacts">
        <div *ngFor="let contact of contacts.controls; let i = index" [formGroupName]="i">
            <div>
                <label for="address">Address: </label>
                <input type="text" formControlName="address" id="address">
            </div>

        </div>
        
    </div>
    <button (click)="addContacts()">add contact</button>
    <button>submit</button>
</form>