# 忽略某个大文件
# path/to/your/largefile.zip
Java/《Java核心技术卷II：高级特性（原书第10版）》.pdf
Java/《Java核心技术卷I：高级特性（原书第10版）》.pdf
Java/Java_Fundamental/JDK API 1.8中文版.CHM
# 忽略整个文件夹


# 忽略所有的 `.log` 文件
# *.log

# 忽略所有的 `.tmp` 文件
# *.tmpJava/*.pdf
