[submodule "portfolio"]
	path = portfolio
	url = https://github.com/zyf265600/portfolio.git
[submodule "Go/go-zh-tour"]
	path = Go/go-zh-tour
	url = git@github.com:zyf265600/tour.git
[submodule "Go/tour"]
	path = Go/tour
	url = git@github.com:zyf265600/tour.git
[submodule "Leetcode/lc-plugin-template"]
	path = Leetcode/lc-plugin-template
	url = git@github.com:zyf265600/lc-plugin-template.git
