<p>form works!</p>

<form #f="ngForm" (submit)="onSubmit(f)">
    <div ngModelGroup="user">
        <input #usernameModel="ngModel" type="text" name="username" ngModel required minlength="2" maxlength="6" />
        <div *ngIf="usernameModel.touched && !usernameModel.valid && usernameModel.errors">
            <div *ngIf="usernameModel.errors['required'] && usernameModel.touched">请填写用户名</div>
            <div *ngIf="usernameModel.errors['minlength']">用户名最少{{usernameModel.errors['minlength'].requiredL}个字符</div>
        </div>
    </div>
    <div ngModelGroup="contact">
        <input type="text" name="phone" ngModel />
    </div>
    <button [disabled]="f.invalid">submit</button>
</form>