<p>form works!</p>

<form #f="ngForm" (submit)="on_Submit(f)">
    <div ngModelGroup="user">
        <input #usernameModel="ngModel" type="text" name="username" ngModel required minlength="2" maxlength="6" />
        <div *ngIf="usernameModel.touched && !usernameModel.valid && usernameModel.errors">
            <div>{{usernameModel.errors | json}}</div>
            <div *ngIf="usernameModel.errors['required'] && usernameModel.touched">请填写用户名</div>
            <div *ngIf="usernameModel.errors['minlength']">用户名最少{{usernameModel.errors['minlength'].requiredLength}}个字符
            </div>
        </div>
    </div>
    <div ngModelGroup="contact">
        <input type="text" name="phone" ngModel />
    </div>
    <button [disabled]="f.invalid">submit</button>
</form>


<form [formGroup]="contactForm" (submit)="onSubmit()">
    <div formGroupName="fullName">
        <div>
            <label for="firstName">First Name: </label>
            <input type="text" formControlName="firstName" id="firstName">
        </div>
        <div>
            <label for="lastName">Last Name: </label>
            <input type="text" formControlName="lastName" id="lastName">
        </div>
    </div>
    <label for="phone">Phone Number: </label>
    <input type="text" formControlName="phone" id="phone" />

    <div *ngIf="phone?.touched && phone?.invalid && phone?.errors">
        <div *ngIf="name.errors.required">请填写姓名</div>
        <div *ngIf="name.errors.maxlength">

        </div>
    </div>


    <button [disabled]="contactForm.invalid">提交</button>
</form>